<p style="color: green"><%= notice %></p>

<%= render @team %>

<div>
  <%= link_to "Edit this team", edit_team_path(@team), class:"btn btn-outline-primary" %>
  <%= button_to "Destroy this team", @team, method: :delete, class:"btn btn-outline-danger" %>
</div><br />

<%= link_to "Back to Dashboard", dashboards_path %>
